style.css

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

body
{
	background-color:gainsboro;
	font-family:"Helvetica", "arial", "sans-serif";
	font-size:16px;
	line-height:1.6;
	font-weight:200;
}

p 
{
margin-bottom:1.25em;
}

.header {
	padding-top:50px;
	padding-bottom:50px;
	padding-right:50px;
	padding-left:50px;
	border-style:solid;
	border-width:medium;
	border-color:red;
	height:320px;
	width:100%;
}

.header {
	background-image:http://placekitten.com/g/1400/800;('kitten.gif')
	background-repeat:no-repeat;
	background-position:center; 
	vertical-align:top;
}

.links {
	border-style:solid;
	border-width:medium;
	border-color:black;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:20px;
	padding-left:20px;	
}

.links li {
	padding-top:0px;
	padding-bottom:0px;
	padding-right:0px;
	padding-left:0px;	
}

.blog {
	margin-right:25%;
	border-style:solid;
	border-width:medium;
	border-color:blue;
}

.blog h6{
	padding-bottom:20px;
}

.blogpost {
	padding-top:40px;
	padding-bottom:40px;
	padding-right:20px;
	padding-left:20px;	
	border-style:solid;
	border-width:medium;
	border-color:green;
}
.blogpost:nth-child(odd) > .blogimg {
  	margin-left:20px;	
  	border-radius: 25px;
 	border: 3px solid #D3D3D3;	

}

.blogpost:nth-child(even) > .blogimg {
 	margin-right:20px;	
  	border-radius: 25px;
 	border: 3px solid #D3D3D3;

}

