style.css

body(

)

#header {
	border-style:solid;
	border-width:medium;
	border-color:red;
}

#links {
	border-style:solid;
	border-width:medium;
	border-color:blue;
}

#blogs {
	border-style:solid;
	border-width:medium;
	border-color:black;
}

.one {
	border-style:solid;
	border-width:medium;
	border-color:green;
}

.two {
	border-style:solid;
	border-width:medium;
	border-color:pink;
}

.three {
	border-style:solid;
	border-width:medium;
	border-color:orange;
}

.four {
	border-style:solid;
	border-width:medium;
	border-color:purple;
}

.five {
	border-style:solid;
	border-width:medium;
	border-color:white;
}
