style.css

p#header {
	border-style:solid;
	border-width:medium;
	border-color:red;
}

p#links {
	border-style:solid;
	border-width:medium;
	border-color:blue;
}

p#blogs {
	border-style:solid;
	border-width:medium;
	border-color:black;
}

p.one {
	border-style:solid;
	border-width:medium;
	border-color:green;
}

p.two {
	border-style:solid;
	border-width:medium;
	border-color:pink;
}

p.three {
	border-style:solid;
	border-width:medium;
	border-color:orange;
}

p.four {
	border-style:solid;
	border-width:medium;
	border-color:purple;
}

p.five {
	border-style:solid;
	border-width:medium;
	border-color:white;
}
